@import "/styles/global.scss";

.imagesBlockWrap {
  display: grid;
  column-gap: 20px;
  align-items: center;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  

  @media only screen and (max-width: $notebook) {
    grid-template-columns: 1fr;
  }
}
