@import "/styles/global.scss";

.leftMenu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @media only screen and (max-width: $mob) {
    row-gap: 30px;
  }
}

.leftMenuList {
  display: flex;
  flex-direction: column;
  row-gap: 27px;

  @media only screen and (max-width: $mob) {
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
  }

  li {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: $black;

    @media only screen and (max-width: $mob) {
      column-gap: 5px;
    }

    &:hover {
      cursor: pointer;
      color: $blackLight;
    }

    span {
      white-space: nowrap;
    }
  }
}

.helpWrap {
  display: flex;
  margin: auto 0 0;
  column-gap: 32px;
  align-items: center;
  color: $black;

  @media only screen and (max-width: $mob) {
    margin: 0 auto;
  }

  &:hover {
    cursor: pointer;
    color: $blackLight;
  }
}
