/***Colors***/

/*Black*/
$black: #000000;
$blackLight: #393939;

/*White*/
$white: #ffffff;

/*Blue*/
$blue: #697acd;
$blueTransparent: rgba(55, 88, 100, 0.5);

/*Yellow*/
$yellow: #f5dd4d;

/*Display size*/
$notebook: 960px;
$tab: 740px;
$mob: 640px;
$small: 480px;
